html body {
		background: #fff;
    position: relative;
    width: 100%;
		overflow-x: hidden;
}

.college-logo {
	position:relative;
    z-index: 1;
	max-width: 160px;
	top:31vh;
	left:5vw;
    background-color: white;
}
.container {
    margin: 0;
    padding: 0;
    border: 0;
}
.college-banner{
    z-index: -1;
    margin-top: -20vh;
    width: 100%;
		height: 40vh;
    position:relative;
		background-repeat:no-repeat, no-repeat;
    background-position:center;
}
.college-name {
    position:absolute;
    color: white;
    padding-top: 27.5vh;
    margin-top: 5vh;
		text-shadow: 1px 1px 2px black;
}
.information-text {
    margin-top: 1em;
    text-align: center;
    color: #306EAA;
    line-height: 0.75em;
}
.card {
    border-radius: 0;
    margin-bottom: 2em;
    margin-right: 1em;
}
.school-info {
    margin: auto;
    display: block;
    float: right;
    right: 3em;
    position: relative;
    overflow-y: scroll;
    width: 1000px;
    max-width: 85vw;
}

.school-nav {
		position: -webkit-sticky;
		position: sticky;
    top: 15px;
		left: 20px;
    display: inline-block;
    float: left;
    margin-left: 2em;
    min-width: 220px;
    width: 15vw;
    overflow: hidden;
}
#navbar.sticky {
	left: 0;
	position: fixed;
	top: 10vh;
}
@media (max-width: 1300px) {
	.school-info {
		 width: 900px;
	}
}
@media (max-width: 1200px) {
	.school-info {
		 width: 800px;
	}
}
@media (max-width: 1100px) {
	.school-info {
		width:700px;
	}
}
@media (max-width: 1000px) {
	.school-info {
		width:600px;
	}
}
@media (max-width: 900px) {
	.school-info {
		width:500px;
		margin-right: -20px;
	}
	.school-nav {
		width: 180px;
	}
}
@media (max-width: 780px) {
	.school-nav {
		display: none;
	}
	.school-info {
		width: 92vw;
	}
	.college-name {
		margin-top:-20vh;
	}
}
@media (max-width: 576px) {
	.college-logo  {
		opacity: 0;
	}
	.college-name {
		margin-left: 20px;
	}
}
