body {
            background-color: #EEE8FB;
        }
.selector ul {
    list-style: none;
    position: fixed;
    right: 10px;
    top: 6vh;
    margin: 0 auto;
}

.selector ul li {
    display: block;
    padding: 8px;
    line-height: 0.75;
}

.selector ul li a {
    color: #fff;
    text-decoration: none;
    color: #4B4C4D;
}
.alphabet {
	display: block;
	width: 98%;
    height: 20px;
	background-color: #666;
}
.alphabet p{
	font-size: 1em;
	color: #fff;
	padding-left: 20px;
}

#Z {
	padding-bottom: 50px;
}

.college-logo {
	max-width: 80px;
	display: inline-block;
}
figure {
	display: table;
}
figcaption {
		margin: 0 auto;
		display: table-row;
}

figcaption a {
	margin: 0 auto;
	position: relative;
	text-decoration: none;
	text-align: center;
	color: #ddd;
	text-shadow: 1px 2px 5px #333;
}
